
@import "tailwindcss";
@theme {
    --color-text: #6B5F52;
    --color-container : #D9D9D9;
    --color-background: #FFF8E7;
    --color-primary: #A3C4A8;
    --color-secondary: #B5D3C3;
    --color-accent: #9DB7D1;
}
@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
